@import url(styles.css);

footer {
    background-color: var(--primary-color);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
}