@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Lobster+Two&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
	text-decoration: none;
}
:root {
  --primary-color: #2d3c54;
  --secondary-color: #e9d9a9;
}

body {
  font-family: 'Anek Devanagari', sans-serif;
  color: #fff;
}

.container {
  max-width: 1201px;
}
.l-container {
  width: calc(100% - 48px) !important;
  margin-inline: auto;
  max-width: 992px;
}

/* ======= HEADER SECTION ======= */

.header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerEl {
  background-color: #242f42;
  width: 50%;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0;
  border-radius: 40px;
}

.logo {
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  text-align: center;
  border: #fff solid 3px;
  border-radius: 40px;
}

.github-container {
  background-color: #242f42;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -55px;
  top: -5px;
  padding: 2rem 6rem 0.5rem 6rem;
  transform: rotate(45deg);
}

.github-container i {
  font-size: 2.5rem;
  color: var(--secondary-color);
  transition: color 300ms ease-in-out;
}

.github-container i:hover {
  color: #fff;
}

/* ======= HERO SECTION ======= */

.heroSection {
  background-image: url(../images/hero.jpg);
  height: 60vh;
  min-height: 500px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.heroSection-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroSection-contents h6 {
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  font-weight: 300;
}

  .heroSection-contents h6:nth-of-type(2) {
    max-width: 24ch;
  }

.heroSection-contents h2 {
  font-size: 3rem;
  letter-spacing: 0rem;
  font-weight: 900;
  max-width: 20ch;
  line-height: 1.3;
  margin-block: 1rem;
  overflow: hidden;
}

@media (min-width: 576px) {
  .heroSection {
      background-image: linear-gradient(to top right, rgba(0,0,0,0.5), transparent), url(../images/hero.jpg);
  }

  .heroSection-contents h6 {
    font-size: 2rem;
    letter-spacing: 0.01rem;
    font-weight: 300;
  }

  .heroSection-contents h6:nth-of-type(2) {
    max-width: 100%;
  }

  .heroSection-contents h2 {
    font-size: 4rem;
    line-height: 1.1;
  }
}

.app-btn {
  bottom: 2rem;
  padding: 1rem 4rem;
  background-color: transparent;
  border: #fff 2px solid;
  color: var(--secondary-color);
  font-size: medium;
  border-radius: 20px;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.app-btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: var(--secondary-color) 2px solid;
}

/* ======= OFFER SECTION ======= */

.offersSection {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 2rem 15rem 0 15rem; */
  padding: 4rem 0;
}

.offersSection-contents {
  display: grid;
  grid-template-columns: 1fr;
}

.offers-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--primary-color);
}

.offers-text i {
  padding-right: 0.5rem;
}

.offers-text h3 {
  font-size: 2.5rem;
}

.offers-text h6 {
  display: flex;
  gap: 5px;
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
}

.offers-text h6 i {
  margin-top: 3px;
}

.offers-text a {
  display: inline-block;
  margin-top: 16px;
}

.offersIllus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration {
  width: 100%;
}

.offers-btn,
.profile-btn {
  padding: 1rem 2rem;
  border-radius: 15px;
  background-color: #927526;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.offers-btn:hover {
  background-color: var(--primary-color);
}

.profile-btn:hover {
  background-color: transparent;
  border: #fff 1px solid;
}

@media (min-width: 576px) {
  .offersSection-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .offers-text {
    grid-row: 1/2;
  }

  .offers-text h3 {
    font-size: 3.6rem;
    line-height: 1.1;
  }

  .offers-text h6 {
    font-size: 1.8rem;
  }
}

/* ======= TEAM SECTION ======= */

@media (max-width: 768px) {
  .profile-section,
  .team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offers-btn{
    width: 100%;
  }
  .team-text{
    margin: 0;
    padding: 1.5rem;
  }
  
  .github-container{
    display: none;
  } 
}

@media (min-width: 768px) {
  .profile-section {
    display: flex;
    flex-direction: row;
    padding: 2.5rem;
  }
}
.team-section {
  background-color: var(--primary-color);
}

.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.team-text h3 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.team-text p {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.profile-section {
  padding: 3rem 0 3rem 0;
}

.profile-img {
  width: 80%;
  height: 80%;
  border: var(--secondary-color) 3px solid;
  border-radius: 15px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile h3 {
  padding-top: 1.5rem;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  overflow: hidden;
}

.profile h4 {
  color: #927526;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  overflow: hidden;
}

.profile-btn-container {
  padding: 2rem 0 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h5 {
  font-size: 1.8rem;
  color: var(--primary-color);
}
