{% extends "base.html" %} {% block title %} About Us {% endblock %} {% block
head %} {{ super()}}
<link rel="stylesheet" href="../static/styles/media_querry.css?{{doc_id}}" />
<link rel="stylesheet" href="../static/styles/footer.css?{{doc_id}}" />
<link rel="stylesheet" href="../static/styles/styles.css?{{doc_id}}" />
{% endblock %} {% block content %}
<div class="container">
    <h1 class="about__heading">About Us.</h1>
    <div class="about__us">
        <div class="person">
            <div class="img__container">
                <img
                    class="person__img"
                    src="../static/images/danny.jpg"
                    alt="daniel's image"
                />
            </div>
            <div class="text__container">
                <h3 class="name">Daniel Okyere</h3>
                <p class="bio">
                    Daniel is a full stack software engineer with focus on the
                    backend. He is currently based in Ghana.
                    <br />
                    Daniel is over 3+ years experienced working on production
                    ready projects. He has also contributed to a number of open
                    source projects.
                    <br />
                    Fun fact about Daniel, he likes to workout, build and play
                    games. Feel free to checkout his profile. via these links
                    below. He can build your next project
                </p>
                <div class="links">
                    <a
                        href="https://danielokyere.github.io/my-resume/"
                        target="_blank"
                        class="portfolio"
                        >Portfolio<i class="bx bx-link-external"></i
                    ></a>
                    <a href="https://github.com/DanielOkyere" target="_blank"
                        ><i class="bx bxl-github"></i
                    ></a>
                    <a
                        href="https://www.linkedin.com/in/dkokyere/"
                        target="_blank"
                        ><i class="bx bxl-linkedin-square"></i
                    ></a>
                </div>
            </div>
        </div>
        <div class="person">
            <div class="img__container">
                <img
                    class="person__img"
                    src="../static/images/mawuli.jpg"
                    alt=""
                />
            </div>
            <div class="text__container">
                <h3 class="name">Gabriel Ahiamata</h3>
                <p class="bio">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Natus rem illum quod molestias voluptatum quae consequatur,
                    eius doloribus, amet dicta alias vel itaque odit totam error
                    optio fugit ullam reiciendis architecto adipisci nihil cum
                    enim minus. Sunt, quae voluptatum. Tenetur voluptatibus ea
                    rerum velit atque laudantium nam fugit at voluptates. Lorem
                    ipsum dolor, sit amet consectetur adipisicing elit. Natus
                    rem illum quod molestias voluptatum quae consequatur, eius
                    doloribus, amet dicta alias vel itaque odit totam error
                    optio fugit ullam reiciendis architecto adipisci nihil cum
                    enim minus. Sunt, quae voluptatum. Tenetur voluptatibus ea
                    rerum velit atque laudantium nam fugit at voluptates.
                </p>
                <div class="links">
                    <a href="#" target="_blank" class="portfolio"
                        >Portfolio<i class="bx bx-link-external"></i
                    ></a>
                    <a
                        href="https://github.com/Ahiamata-Gabriel"
                        target="_blank"
                        ><i class="bx bxl-github"></i
                    ></a>
                    <a
                        href="https://www.linkedin.com/in/gabriel-ahiamata-6739b51b0/"
                        target="_blank"
                        ><i class="bx bxl-linkedin-square"></i
                    ></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
