<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="about.css" />
    <title>About Us</title>
  </head>
  <body class="container">
    <h1 class="about__heading">About Us.</h1>
    <div class="about__us">
      <div class="person">
        <div class="img__container">
          <img class="person__img" src="danny.jpg" alt="" />
        </div>
        <div class="text__container">
          <h3 class="name">Daniel Okyere</h3>
          <p class="bio">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus rem
            illum quod molestias voluptatum quae consequatur, eius doloribus,
            amet dicta alias vel itaque odit totam error optio fugit ullam
            reiciendis architecto adipisci nihil cum enim minus. Sunt, quae
            voluptatum. Tenetur voluptatibus ea rerum velit atque laudantium nam
            fugit at voluptates. Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Natus rem illum quod molestias voluptatum quae
            consequatur, eius doloribus, amet dicta alias vel itaque odit totam
            error optio fugit ullam reiciendis architecto adipisci nihil cum
            enim minus. Sunt, quae voluptatum. Tenetur voluptatibus ea rerum
            velit atque laudantium nam fugit at voluptates.
          </p>
          <div class="links">
            <a
              href="https://danielokyere.github.io/my-resume/"
              target="_blank"
              class="portfolio"
              >Portfolio<i class="bx bx-link-external"></i
            ></a>
            <a href="https://github.com/DanielOkyere" target="_blank"
              ><i class="bx bxl-github"></i
            ></a>
            <a href="#" target="_blank"
              ><i class="bx bxl-linkedin-square"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="person">
        <div class="img__container">
          <img class="person__img" src="mawuli.jpg" alt="" />
        </div>
        <div class="text__container">
          <h3 class="name">Gabriel Ahiamata</h3>
          <p class="bio">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus rem
            illum quod molestias voluptatum quae consequatur, eius doloribus,
            amet dicta alias vel itaque odit totam error optio fugit ullam
            reiciendis architecto adipisci nihil cum enim minus. Sunt, quae
            voluptatum. Tenetur voluptatibus ea rerum velit atque laudantium nam
            fugit at voluptates. Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Natus rem illum quod molestias voluptatum quae
            consequatur, eius doloribus, amet dicta alias vel itaque odit totam
            error optio fugit ullam reiciendis architecto adipisci nihil cum
            enim minus. Sunt, quae voluptatum. Tenetur voluptatibus ea rerum
            velit atque laudantium nam fugit at voluptates.
          </p>
          <div class="links">
            <a href="#" target="_blank" class="portfolio"
              >Portfolio<i class="bx bx-link-external"></i
            ></a>
            <a href="https://github.com/Ahiamata-Gabriel" target="_blank"
              ><i class="bx bxl-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/gabriel-ahiamata-6739b51b0/"
              target="_blank"
              ><i class="bx bxl-linkedin-square"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="person">
        <div class="img__container">
          <img class="person__img" src="danny.jpg" alt="" />
        </div>
        <div class="text__container">
          <h3 class="name">Daniel Okyere</h3>
          <p class="bio">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus rem
            illum quod molestias voluptatum quae consequatur, eius doloribus,
            amet dicta alias vel itaque odit totam error optio fugit ullam
            reiciendis architecto adipisci nihil cum enim minus. Sunt, quae
            voluptatum. Tenetur voluptatibus ea rerum velit atque laudantium nam
            fugit at voluptates. Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Natus rem illum quod molestias voluptatum quae
            consequatur, eius doloribus, amet dicta alias vel itaque odit totam
            error optio fugit ullam reiciendis architecto adipisci nihil cum
            enim minus. Sunt, quae voluptatum. Tenetur voluptatibus ea rerum
            velit atque laudantium nam fugit at voluptates.
          </p>
          <div class="links">
            <a href="#" target="_blank" class="portfolio"
              >Portfolio<i class="bx bx-link-external"></i
            ></a>
            <a href="#" target="_blank"><i class="bx bxl-github"></i></a>
            <a href="#" target="_blank"
              ><i class="bx bxl-linkedin-square"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
