{% extends "base.html" %} {% block title %} Check Skill {% endblock %} {% block
head %} {{ super()}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %} {% block content %}
<div class="container">
    <form action="/ats" method="post">
        <div class="main_page">
            <div class="column_container">
                <div class="jobsection">
                    <h2>Add Job Description Here</h2>

                    <label for="job_desc">Job Description</label>

                    <br />

                    <textarea
                        name="job_desc"
                        id="job_desc"
                        placeholder="Job Description"
                        rows="20"
                        cols="40"
                    >
{{ request.form['job_desc']}}</textarea
                    >
                </div>

                <div class="cvsection">
                    <h2>Add Details of resume here</h2>

                    <label for="resume">CV/Resume Content</label>

                    <br />

                    <textarea
                        name="resume"
                        id="resume"
                        rows="20"
                        cols="40"
                        placeholder="Resume"
                    >
{{ request.form['resume'] }}</textarea
                    >
                </div>
            </div>

            <button type="submit" name="submit_btn" class="btn cta_btn">
                Submit
            </button>
        </div>
    </form>
    <div class="table_container">
        <h2 class="table_description">Results here</h2>
        <table class="result_table">
            {% if table != None %}

            <tr>
                <th>Hard Skills(%)</th>
                <th>Soft Skills(%)</th>
                <th>General Skills(%)</th>
            </tr>
            <tr>
                <td>{{ table[0] * 100 }}</td>
                <td>{{ table[1] * 100 }}</td>
                <td>{{ table[2] * 100 }}</td>
            </tr>
            <div class="chartCanvas">
                <canvas id="resultChart"></canvas>
            </div>
            <meta id="tableData" data-hard="{{table[0]}}" data-soft="{{table[1]}}" data-general="{{table[2]}}" />
            {% endif %}
            <script src="../static/js/chart.js"></script>
        </table>
    </div>
</div>
{% endblock %}
