<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/styles.css?{{doc_id}}" />
    <link
      rel="stylesheet"
      href="../static/styles/media_querry.css?{{doc_id}}"
    />
    <link rel="stylesheet" href="../static/styles/footer.css?{{doc_id}}" />
    <link
      rel="stylesheet"
      href="../static/styles/media_querry.css?{{doc_id}}"
    />
    <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../static/styles/about.css?{{doc_id}}" />
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% include 'main.html' %}
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>
      {% block footer %} &copy; Copyright 2022 {% endblock %}
    </footer>
    <!-- <script type="module" src="../static/js/chart.js"/> -->
  </body>
</html>
