<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>ATS</title>
  </head>
  <body>
    <header class="header" id="home">
      <div class="header__logo">
        <h3>ATS</h3>
      </div>
      <nav class="header__nav">
        <ul class="header__items">
          <a href="#home"> <li class="header__item">Home</li></a>
          <a href="#"><li class="header__item">Application</li></a>
          <a href="#"> <li class="header__item">About Us</li></a>
        </ul>
      </nav>
      <form class="form" id="form">
        <input type="email" class="form__input" placeholder="Email" />
        <input type="password" class="form__input" placeholder="Password" />
        <button class="form__btn">Login</button>
        <button class="form__btn">Sign Up</button>
      </form>
    </header>
  </body>
</html>
