{% block navbar %}
<section class="header__section">
  <header class="header" id="home">
    <div class="header__logo">
      <h3>ATS</h3>
    </div>

    <nav class="header__nav">
      <ul class="header__items">
        <a href="#home"> <li class="header__item">Home</li></a>
        <a href="#"><li class="header__item">Application</li></a>
        <a href="#"> <li class="header__item">About Us</li></a>
      </ul>
    </nav>

    <form class="form" id="form">
      <input type="email" class="form__input" placeholder="Email" />
      <input type="password" class="form__input" placeholder="Password" />
      <button class="form__btn">Login</button>
      <button class="form__btn">Sign Up</button>
    </form>
  </header>
</section>
<section class="hero__section">
  <div class="hero container">
    <div class="hero__heading">
      <h1>Application Tracking</h1>
    </div>
    <div class="hero__content">
      <div class="hero__img">
        <img src="hero__img.jpg" alt="" />
      </div>
      <div class="hero__text">
        <h3>Easy skill based assessment for all.</h3>
      </div>
    </div>
  </div>
</section>
{% endblock %}
